﻿@using PlantNest.Models﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Plantfy - Plants Store Website Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="Plantfy - Plants Store Website Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" type="image/x-icon" href="/Template/assets/images/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Template/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/Template/assets/css/lastudioicon.css" />
    <link rel="stylesheet" href="/Template/assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/Template/assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="/Template/assets/css/nice-select2.css" />
    <link rel="stylesheet" href="/Template/assets/css/style.min.css" />
    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
    <header class="header bg-white header-height">
        <div class="header__top">
            <div class="container-fluid custom-container">
                <div class="header__top--wrapper justify-content-center">
                    <p>Free shipping order over $150</p>
                </div>
            </div>
        </div>
        <div class="header__middle d-flex align-items-center">
            <div class="container-fluid custom-container">
                <div class="header-mid-row align-items-center">
                    <div class="header-mid-col-1">
                        <div class="header-mid-logo">
                            <a href="@Url.Action("Index")">
                                <img src="~/Template/assets/images/TheLogo.png" alt="Logo" style="width:250px;" />
                            </a>
                        </div>
                    </div>
                    <div class="header-mid-col-2 d-none d-md-block">
                        <div class="header-mid-info">
                            <ul class="header-mid-info__items justify-content-center">
                                <li>
                                    <a href="mailto:info.expmale@mail.com" aria-label="mail">
                                        <i class="lastudioicon-mail-2"></i>
                                        <span>theplantnest@gmail.com</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:+(92)315-2834644" aria-label="phone">
                                        <i class="lastudioicon-phone-1"></i>
                                        <span>+(92)315-2834644</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" aria-label="map">
                                        <i class="lastudioicon-pin-3-1"></i>
                                        <span>Pakistan, Karachi</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-mid-col-1">
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="header-mid-meta">
                                @if (Session["u_id"] != null)
                                {
                                    <ul class="header-mid-meta__item justify-content-end">
                                        <li class="d-none d-md-block">
                                            <button data-bs-toggle="modal" data-bs-target="#SearchModal" aria-label="Search">
                                                <i class="lastudioicon-zoom-1" style="position: relative; left: 40px;"></i>
                                            </button>
                                        </li>

                                        <li>
                                            <a href="@Url.Action("Profile")" aria-label="My Account" style="position: relative; left: 45px;">
                                                <i class="lastudioicon-single-01-2"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a class="header-action-item header-wishlist ms-4 d-none d-lg-block"
                                               href="@Url.Action("View_Wishlist","PlantNest")" style="position: relative; left: 30px;text-decoration:none;">
                                                <i class="lastudioicon-heart-2"></i>
                                                @{
                                                    if (Session["u_id"] != null)
                                                    {
                                                        var userItems = Session["Wishlist"] as List<Wishlist>;
                                                        var userCountValue = userItems?.Count ?? 0;
                                                        <span class="cart-count" style="width: 20px; height: 20px; border-radius: 50%; color: white; text-decoration: none; position: relative; bottom: 8px; color:#F76B6A;">
                                                            @userCountValue
                                                        </span>
                                                    }
                                                }
                                            </a>
                                        </li>
                                        <li>
                                            <a class="header-action-item header-cart ms-4" href="@Url.Action("View_Cart", "PlantNest")" style="text-decoration: none">
                                                <i class="lastudioicon-bag-20"></i>
                                                @{
                                                    if (Session["u_id"] != null)
                                                    {
                                                        var cartItems = Session["cart"] as List<Cart>;
                                                        var cartCountValue = cartItems?.Count ?? 0;
                                                        <span class="cart-count" style="width: 20px; height: 20px; border-radius: 50%; color: white; text-decoration: none; padding-left: 4.5px; padding-right: 4.5px; padding-top: -1.5px; padding-bottom: -1.5px; position: relative; bottom: 8px; right:5px; color:#F76B6A;">
                                                            @cartCountValue
                                                        </span>
                                                    }
                                                }
                                            </a>
                                        </li>
                                    </ul>
                                }
                                else
                                {
                                    <style>
                                        #thebtn {
                                            background-color: black;
                                        }

                                            #thebtn:hover {
                                                background-color: #60C38D;
                                            }
                                    </style>
                                    <ul class="header-mid-meta__item justify-content-end">
                                        <li>
                                            <button class="single-form__btn btn" id="thebtn" style="border-radius: 8px; padding-left: 25px; padding-right: 25px; padding-top: 15px; padding-bottom: 15px;">
                                                <a href="@Url.Action("Login","PlantNest")" style="color: white;">
                                                    Login Now
                                                </a>
                                            </button>
                                        </li>
                                    </ul>
                                }
                            </div>
                            <div class="header-mid-toggle text-end d-lg-none">
                                <button class="header__main--toggle header__main--toggle-dark" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu" aria-label="Menu">
                                    <i class="lastudioicon-menu-4-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__main-2 d-none d-lg-flex align-items-center">
            <div class="container-fluid custom-container">
                <div class="header__main-2-menu">
                    <ul class="menu-items-list menu-items-list--2 justify-content-center d-flex">
                        <li>
                            <a class="active" href="@Url.Action("Index")">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">Who We Are <i class="lastudioicon-down-arrow" aria-hidden="true"></i></a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("About")">About us</a></li>
                                <li><a href="@Url.Action("Contact")">Contact Us</a></li>
                                <li><a href="@Url.Action("FAQs")">FAQ's</a></li>
                                <li><a href="@Url.Action("Term_of_Use")">Term of use</a></li>
                            </ul>
                        </li>
                        @if (Session["u_id"] != null)
                        {
                            <li>
                                <a href="@Url.Action("Profile")">My Account</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="@Url.Action("Login")">Login & Register</a>
                            </li>
                        }
                        <li class="position-static">
                            <a href="@Url.Action("CategoryPage","PlantNest")">Shop Now</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <div class="search-modal modal fade" id="SearchModal">
        <!-- Search Close Start -->
        <button class="search-modal__close" data-bs-dismiss="modal" aria-label="remove">
            <i class="lastudioicon-e-remove"></i>
        </button>
        <!-- Search Close End  -->

        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Search Form Start  -->
                <div class="search-modal__form">
                    <form action="#" id="searchForm">
                        <input type="text" id="searchInput" placeholder="Search product…" />
                        <button class="" aria-label="search" type="submit">
                            <i class="lastudioicon-zoom-1"></i>
                        </button>
                    </form>
                </div>
                <!-- Search Form End  -->
            </div>
        </div>
    </div>

    <script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var searchTerm = document.getElementById('searchInput').value.trim();
        if (searchTerm !== '') {
            // Redirect to the Search action with the search term
            window.location.href = '@Url.Action("Search", "PlantNest")?search=' + encodeURIComponent(searchTerm);
        }
    });
    </script>
    @RenderBody()
    <footer class="footer-section footer-dark">
        <div class="container-fluid custom-container">
            <div class="footer-main footer-padding">
                <div class="footer-main-wrapper">
                    <div class="footer-about text-center">
                        <a class="footer-about__logo" href="#">
                            <img src="/Template/assets/images/logo-white.png" alt="Logo" loading="lazy" style="width:250px;" />
                        </a>
                    </div>
                    <div class="footer-newsletter">
                        <form action="#">
                            <input class="footer-newsletter__input" type="text" placeholder="Sign up for newsletter" />
                            <button class="footer-newsletter__btn">
                                Subscribe
                            </button>
                        </form>
                    </div>
                    <div class="footer-link">
                        <div class="footer-link__wrapper">
                            <h4 class="footer-title">Company links</h4>

                            <ul class="footer-link__list">
                                <li><a href="@Url.Action("About","PlantNest")">About us</a></li>
                                <li><a href="@Url.Action("FAQs","PlantNest")">FAQ'S</a></li>
                                <li><a href="@Url.Action("Contact","PlantNest")">Help Center</a></li>
                                <li>
                                    <a href="@Url.Action("Term_of_Use","PlantNest")">
                                        Terms & Conditions
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-link__wrapper">
                            <h4 class="footer-title">Category</h4>

                            <ul class="footer-link__list">
                                <li><a href="shop-fullwidth.html">Man</a></li>
                                <li><a href="shop-fullwidth.html">Woman</a></li>
                                <li><a href="shop-fullwidth.html">Kids</a></li>
                                <li>
                                    <a href="shop-fullwidth.html">Accessories</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-link__wrapper">
                            <h4 class="footer-title">Contact</h4>

                            <ul class="footer-link__list">
                                <li>
                                    <span>
                                        Pakistan, Karachi
                                    </span>
                                </li>
                                <li>
                                    <a href="mailto:info@example.com">
                                        theplantnest@gmail.com
                                    </a>
                                </li>
                                <li>
                                    <a href="tel:+(92)315-2834644">
                                        +92 0315-2834644
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-wrapper">
                <div class="row align-items-center gy-3">
                    <div class="col-lg-8">
                        <div class="footer-store-social">
                            <div class="footer-store">
                                <h4 class="footer-store-social__title">
                                    Available on
                                </h4>
                                <ul class="footer-store__btns">
                                    <li>
                                        <a href="#">
                                            <img src="/Template/assets/images/apple-store.png" alt="Apple Store" width="130" height="38" loading="lazy" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="/Template/assets/images/google-store.png" alt="Google Store" width="130" height="38" loading="lazy" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-social">
                                <h4 class="footer-store-social__title">
                                    Connect with us
                                </h4>
                                <ul class="footer-social__icon">
                                    <li>
                                        <a href="#" aria-label="facebook">
                                            <i class="lastudioicon-b-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" aria-label="twitter">
                                            <i class="lastudioicon-b-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" aria-label="instagram">
                                            <i class="lastudioicon-b-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-payment text-center text-lg-end">
                            <img src="/Template/assets/images/footer-payment-white.png" alt="Footer Payment" width="310" height="38" loading="lazy" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="row d-flex justify-content-center align-content-center">
                    <div class="col-md-6">
                        <p>
                            ©
                            <span class="current-year">2023</span>
                            <span> PlantNest </span> Made with
                            <i class="lastudioicon-heart-1"></i>
                            by Team WAD - 14 Aptech NK, Karachi
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/Template/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/Template/assets/js/swiper-bundle.min.js"></script>
    <script src="/Template/assets/js/masonry.pkgd.min.js"></script>
    <script src="/Template/assets/js/glightbox.min.js"></script>
    <script src="/Template/assets/js/nice-select2.js"></script>
    <script src="/Template/assets/js/main.js"></script>
</body>
</html>