@model PagedList.IPagedList<PlantNest.Models.tbl_product>
@{
    ViewBag.Title = "DisplayAdd";
    var categoryName = ViewData["CategoryName"] as string;
}

<head>
    <title>Display Add</title>
</head>
<body>
    <main>
        <div class="container mt-100">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12 col-12" style="margin-top: 60px; margin-bottom: 60px;">
                    <div class="text-center mb-4">
                        @if (categoryName != null)
                        {
                            <h2 class="mb-0">Our @categoryName Products</h2>
                        }
                        else
                        {
                            <h2>Our Products</h2>
                        }
                    </div>
                    <div class="row">
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (var item in Model)
                            {
                                var imagePaths = item.pro_image.Split(new[] { ',' }, StringSplitOptions.RemoveEmptyEntries);
                                if (imagePaths.Length > 0)
                                {
                                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                                        <div class="single-product js-scroll ShortFadeInUp scrolled">
                                            <div class="single-product__thumbnail">
                                                <div class="single-product__thumbnail--meta-3">
                                                    <a href="@Url.Action("ProductDetails", new { id = item.pro_id })" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Add to wishlist" data-bs-custom-class="p-meta-tooltip" aria-label="wishlist">
                                                        <i class="lastudioicon-heart-2"></i>
                                                    </a>
                                                </div>
                                                <div class="single-product__thumbnail--badge onsale">
                                                    Sale
                                                </div>
                                                <div class="single-product__thumbnail--holder">
                                                    <a href="@Url.Action("ProductDetails", new { id = item.pro_id })">
                                                        <img src="@Url.Content(imagePaths[0])" alt="Product" width="344" height="370" loading="lazy" loading="lazy" />
                                                        <img class="product-hover" src="@Url.Content(imagePaths[1])" alt="Product" width="344" height="370" loading="lazy" loading="lazy" />
                                                    </a>
                                                </div>
                                                <div class="single-product__thumbnail--meta-2">
                                                    <a href="@Url.Action("Add_To_Cart", "User", new { id = item.pro_id })" data-bs-tooltip="tooltip" data-bs-placement="top" data-bs-title="Add to cart" data-bs-custom-class="p-meta-tooltip" aria-label="cart">
                                                        <i class="lastudioicon-shopping-cart-3"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="single-product__info">
                                                <div class="single-product__info--tags">
                                                    <a href="#">@categoryName</a>
                                                </div>
                                                <h3 class="single-product__info--title">
                                                    <a href="@Url.Action("ProductDetails", new { id = item.pro_id })">@item.pro_name</a>
                                                </h3>
                                                <div class="single-product__info--price">
                                                    <ins>@item.pro_price/PKR</ins>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                    <nav aria-label="..." style="margin-top: 50px;">
                        <ul class="pagination pagination-md justify-content-center">
                            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                                <a class="page-link" href="@Url.Action("DisplayAdd", new { page = Model.PageNumber - 1 })">Previous</a>
                            </li>
                            @for (int i = 1; i <= Model.PageCount; i++)
                            {
                                <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("DisplayAdd", new { page = i })">@i</a>
                                </li>
                            }
                            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                                <a class="page-link" href="@Url.Action("DisplayAdd", new { page = Model.PageNumber + 1 })">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>
</body>
