﻿@model PlantNest.Models.tbl_user

@{
    ViewBag.Title = "Register";
}
<body>
    <main>
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <h2 class="breadcrumb-wrapper__title" style=" font-family: 'Poppins', sans-serif; ">
                        Register Your Account
                    </h2>
                </div>
            </div>
        </div>
        <div class="login-register-section section-padding-2">
            <div class="container-fluid custom-container">
                <div class="row justify-content-center">

                    <div class="col-md-6">
                        <!-- Log In & Register Box Start -->
                        <div class="login-register">
                            <form method="post">
                                <div class="login-register__form">
                                    <div class="single-form">
                                        <label for="username">Username:</label>
                                        @Html.EditorFor(model => model.u_name, new { htmlAttributes = new { @class = "single-form__input", @placeholder = "Enter Your Username" } })
                                        @Html.ValidationMessageFor(model => model.u_name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="single-form">
                                        <label for="password">Email:</label>
                                        @Html.EditorFor(model => model.u_email, new { htmlAttributes = new { @class = "single-form__input", @placeholder = "Enter Your Email" } })
                                        @Html.ValidationMessageFor(model => model.u_email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="single-form">
                                        <label for="password">Password:</label>
                                        @Html.EditorFor(model => model.u_password, new { htmlAttributes = new { @class = "single-form__input", @placeholder = "Enter Your Password", @type = "Password" } })
                                        @Html.ValidationMessageFor(model => model.u_password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="single-form">
                                        <label for="password">Phone Number:</label>
                                        @Html.EditorFor(model => model.u_contact, new { htmlAttributes = new { @class = "single-form__input", @placeholder = "Enter Your Contact Details" } })
                                        @Html.ValidationMessageFor(model => model.u_contact, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="single-form" style="margin-top: 35px; margin-bottom: 35px;">
                                        <p class="login-register__title" style=" font-family: 'Poppins', sans-serif; text-align:center;font-size:15px;font-weight:500;">Fill Out The Form & Welcome to PlantNest!</p>
                                    </div>
                                    <div class="single-form" style="display:flex;justify-content:center;align-items:center;">
                                        <button class="single-form__btn btn">
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </form>

                            <ul class="login-register__social">
                                <li>
                                    <a class="social-facebook" href="#">
                                        <span class="social-icon">
                                            <img src="/Template/assets/images/facebook.svg"
                                                 alt="Facebook" />
                                        </span>
                                        <span class="social-text">Login with Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="social-google" href="#">
                                        <span class="social-icon">
                                            <img src="/Template/assets/images/google.svg"
                                                 alt="Facebook" />
                                        </span>
                                        <span class="social-text">Login with Google</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="newsletter-section">
            <div class="newsletter-left" style="background-image: url(/Template/assets/images/newsletter-bg-1.jpg)">
                <div class="newsletter-wrapper text-center">
                    <h4 class="newsletter-wrapper__title">Follow us on</h4>
                    <p>
                        Proin volutpat vitae libero at tincidunt. Maecenas sapien
                        lectus, vehicula vel euismod sed, vulputate
                    </p>

                    <div class="newsletter-social">
                        <ul class="newsletter-social__list">
                            <li>
                                <a href="#" aria-label="facebook">
                                    <i class="lastudioicon-b-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="twitter">
                                    <i class="lastudioicon-b-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="instagram">
                                    <i class="lastudioicon-b-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="vimeo">
                                    <i class="lastudioicon-b-vimeo"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" aria-label="envato">
                                    <i class="lastudioicon-envato"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="newsletter-right" style="background-image: url(/Template/assets/images/newsletter-bg-2.jpg)">
                <div class="newsletter-wrapper text-center">
                    <h4 class="newsletter-wrapper__title">10% off when you sign up</h4>
                    <p>
                        Proin volutpat vitae libero at tincidunt. Maecenas sapien
                        lectus, vehicula vel euismod sed, vulputate
                    </p>
                    <form action="#">
                        <div class="newsletter-form-style-1">
                            <input type="text" placeholder="Enter your email address..." />
                            <button>Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

