﻿@model PlantNest.Models.tbl_user

@{
    ViewBag.Title = "Register";
}
<body>
    <main>
        <div class="breadcrumb-section">
            <div class="container-fluid custom-container">
                <div class="breadcrumb-wrapper text-center">
                    <h2 class="breadcrumb-wrapper__title" style=" font-family: 'Poppins', sans-serif; ">
                        Register Your Account
                    </h2>
                </div>
            </div>
        </div>
        <div class="login-register-section section-padding-2">
            <div class="container-fluid custom-container">
                <div class="row justify-content-center">

                    <div class="col-md-6">
                        <!-- Log In & Register Box Start -->
                        <div class="login-register">
                            <form method="post" id="signupform">
                                <div class="login-register__form">
                                    <div class="single-form">
                                        <label for="username">Username:</label>
                                        @Html.EditorFor(model => model.u_name, new { htmlAttributes = new { @class = "single-form__input", @placeholder = "Enter Your Username" } })
                                        @Html.ValidationMessageFor(model => model.u_name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="single-form">
                                        <label for="password">Email:</label>
                                        @Html.EditorFor(model => model.u_email, new { htmlAttributes = new { @class = "single-form__input", @placeholder = "Enter Your Email" } })
                                        @Html.ValidationMessageFor(model => model.u_email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="single-form">
                                        <label for="password">Password:</label>
                                        @Html.EditorFor(model => model.u_password, new { htmlAttributes = new { @class = "single-form__input", @placeholder = "Enter Your Password", @type = "Password" } })
                                        @Html.ValidationMessageFor(model => model.u_password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="single-form">
                                        <label for="password">Phone Number:</label>
                                        @Html.EditorFor(model => model.u_contact, new { htmlAttributes = new { @class = "single-form__input", @placeholder = "Enter Your Contact Details" } })
                                        @Html.ValidationMessageFor(model => model.u_contact, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="single-form" style="margin-top: 35px; margin-bottom: 35px;">
                                        <p class="login-register__title" style=" font-family: 'Poppins', sans-serif; text-align:center;font-size:15px;font-weight:500;">Fill Out The Form & Welcome to PlantNest!</p>
                                    </div>
                                    <div class="single-form" style="display:flex;justify-content:center;align-items:center;">
                                        <button class="single-form__btn btn">
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
                  document.getElementById('signupform').addEventListener('submit', function(event) {
                      event.preventDefault();
                      Swal.fire({
                          icon: 'success',
                          title: 'Congrats!',
                          text: 'Your Account Has Been Created!'
                      }).then((result) => {
                          if (result.isConfirmed) {
                              window.location.href = '@Url.Action("Login", "PlantNest")';
                              this.submit();
                          }
                      });
                  });
    </script>
</body>